@model MKT_POLOSYS_WEB.Models.UploadTaskInquiry.IndexViewModel



@Html.HiddenFor(m => m.empNo)
@{
    ViewData["Title"] = "Index asdadasd";
    Layout = "~/Views/Shared/_LayoutUpload.cshtml";
    ViewBag.PageModel = Model.empName;
}




<div class="wrapper">
    <div class="container-fluid">
        <div>
        </div>
        <div class="container-fluid mx-auto mt-3 mb-2" style="width: 100%;">
            <div class="text-align:left">
            </div>
        </div>
        <form id="frm" action="" method="POST" enctype="multipart/form-data">
            <div class="form-row">
                <div>
                    <label for="myFile">File Upload : </label>
                </div>
                <div class="col-6">
                    <div class="custom-file">
                        <input type="file" id="myFile" name="filename">
                    </div>
                </div>
                <div class="col-1">

                    <button type="submit" class="btn btn-md btn-primary">Upload</button>
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-md btn-warning" id="reset">Reset</button>
                </div>
            </div>
            @*<div id="wrapLoading">
                    <fieldset>
                    </fieldset>
                    <table>

                        <tr>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                </div>*@
        </form>
    </div>

</div>


<script>
    $('#frm').submit(function (e) {
        e.preventDefault();
        var form = new FormData(this)
        var fileExtension = ['xlsx', 'xls'];
        var namaFile = $("#myFile").val();
        if (namaFile == "" || namaFile == "Choose file...") {
            swal("Information", "Format file extension yang diupload, hanya diperbolehkan xlsx/xls", "info")
            return false;
        }
        else if ($.inArray($("#myFile").val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            swal("Information", "Format file extension yang diupload, hanya diperbolehkan xlsx/xls", "info")
            return false;
        } else {
            $.ajax({
                url: 'UploadTaskInquiry/Upload?empNo=' + $("#empNo").val(),
                data: form,
                type: 'POST',
                contentType: false,
                processData: false,
                enctype: 'multipart/form-data',
                dataType: 'json',
                success: function (result) {
                    if (result.isSucced) {
                        swal("Information", result.message, "info")
                    }
                    else {

                        swal("Information", result.message, "info")
                    }
                }
            });
        }
        return false;
    });

    $('#reset').click(function (e) {
        e.preventDefault();
        $("#myFile").val('');
    });
</script>
