


<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pooling Order System (POLO System)</title>
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/lib/vendor/bootstrap/jquery-3.5.1.slim.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/jquery-3.5.1.min.js"></script>
    <script src="~/lib/vendor/bootstrap/popper.min.js"></script>
    <script src="~/lib/vendor/bootstrap/bootstrap.min.js"></script>


    <link rel="stylesheet" href="~/css/datatables.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/css/responsive.bootstrap4.min.css" />

    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/jquery.dataTable.js"></script>
    <script src="~/js/dataTables.responsive.min.js"></script>
    <script src="~/js/responsive.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="~/lib/vendor/dist/css/style.min.css" />






</head>

<body class="main">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-brand">
                        <!-- Logo icon -->
                        <a href="">

                            <b class="logo-icon">
                                <!-- Dark Logo icon -->
                                <img src="~/logo_wom.png" class="dark-logo" style="width:200px;height:auto;object-fit:contain" />
                            </b>
                            <!--End Logo icon -->
                        </a>
                        <hr>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                       data-toggle="collapse" data-target="#navbarSupportedContent"
                       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ti-more"></i>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <input type="text" id="userdecript" name="userdecript" value="" style="background: transparent;border:none;display: none;">
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav float-right">
                        <span class="ml-2 d-none d-lg-inline-block">
                            <span>Welcome, @ViewData["empNames"]</span>
                            <input type="text" id="user_login" name="user_login" value="" style="background: transparent;border:none;">

                        </span>

                    </ul>
                </div>

            </nav>
        </header>
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">   
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a class="sidebar-link" href=""
                               aria-expanded="false">
                                <i data-feather="tag" class="feather-icon"></i><span class="hide-menu">
                                    <div>Task Inquiry</div>
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle untuk judul -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-7 align-self-center">
                        <h3 class="page-title text-truncate text-dark font-weight-medium mb-1"></h3>

                    </div>

                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">


                @RenderBody()

                <!-- *************************************************************** -->
                <!-- End Top Leader Table -->
                <!-- *************************************************************** -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center text-muted">
                Webpooling System - v3.0.20210422
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <script src="~/js/bootstrap-multiselect.js"></script>
    <script src="~/lib/vendor/dist/js/app-style-switcher.js"></script>
    <script src="~/lib/vendor/dist/js/feather.min.js"></script>
    <script src="~/lib/vendor/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/lib/vendor/dist/js/sidebarmenu.js"></script>
    @*<script src="~/lib/vendor/sweat-alert/sweetalert.js"></script>
    <link rel="stylesheet" href="~/lib/vendor/sweat-alert/sweetalert.css" />*@
    <script src="~/lib/vendor/sweat-alert/sweetalert2.all.min.js"></script>
        <script src="~/lib/vendor/sweat-alert/sweetalert2.js"></script>
        <link rel="stylesheet" href="~/lib/vendor/sweat-alert/sweetalert2.css" />



    <script src="~/js/taskInquiryview.js"></script>
    <script src="~/lib/vendor/dist/js/custom.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>