@{
    Layout = "~/Views/Shared/_LayoutMappingProduct.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h1>Mohon Maaf, Session Anda Telah Berakhir.</br>Silahkan Login Kembali Melalui Aplikasi Wise.</h1>
</body>
</html>
