
@model MKT_POLOSYS_WEB.Models.IndexViewModel

    @{
        ViewData["Title"] = "Pooling Order System (POLO System)";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <style>
        .spasi {
            padding-right: 10px;
            padding-left: 10px;
        }
    </style>

    <h1 style="background-color:aqua">
        Pooling Order System (POLO System)
    </h1>
    <form method="post" id="frm">
        <h1>sasdasdasdasdads</h1>
    </form>
